.dataSidebarOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
  background-color: rgb($neutral500, 0.2);
  backdrop-filter: blur(4px);

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.dataSidebar {
  width: 650px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-left: 1px solid $neutral500;

  &.fullPage {
    width: 100%;
  }

  &.sideNavDataSidebar {
    position: fixed;
    top: 70px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.dataSidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.3rem 0.8rem;
  border-bottom: 1px solid $neutral500;
}

.dataSidebarContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 0.8rem;
  padding-bottom: 0;
  width: 100%;

  &.inlineForm {
    padding: 0.2rem;
    border: 1px solid $neutral500;
    border-radius: 0.8rem;

    .dataSidebarSection {
      gap: 0.4rem;
    }
  }
}

// SECTION
.dataSidebarSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  // SECTION HEADER
  .dataSidebarSectionHeader {
    display: flex;
    width: 100%;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid $neutral500;
  }

  // FIELDS SECTION
  .dataSidebarSectionFields {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    // INDIVIDUAL FIELD
    .dataSidebarField {
      display: flex;
      gap: 0.3rem;
      width: 100%;

      &.half {
        width: 48%;

        @media screen and (max-width: 768px) {
          width: 100%;
          flex-direction: column;
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      label {
        text-align: start;
        min-width: 100px;
        max-width: 100px;

        @media screen and (max-width: 768px) {
          min-width: 100%;
          max-width: 100%;
        }
      }

      .dataSidebarRequired {
        color: $error600;
      }
    }
  }
}

.dataSidebarFooter {
  border-top: 1px solid $neutral500;
  position: sticky;
  bottom: 0;
  display: flex;
  gap: 0.8rem;
  padding: 0.3rem 0;
  justify-content: end;
}

/* INPUTS (READ-ONLY LOOK) */
.dataSidebar input {
  width: 100%;
  border: 1px solid $neutral300;
  border-radius: 4px;
  font-size: 13px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }

  &:disabled {
    color: $neutral500;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

/* INPUTS (READ-ONLY LOOK) */
.dataSidebar select {
  width: 100%;
  border: 1px solid $neutral300;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }

  &:disabled {
    color: $neutral500;
    cursor: default;
  }

  &:focus {
    outline: none;
    background-color: $neutral900;
    color: $neutral100;
  }
}

/* STATUS COMPONENT ALIGNMENT */
.dataSidebar .statusBadge {
  min-width: 90px;
}

.required {
  color: $error600;
}
