.cardSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%; // 👈 CRITICAL
  min-width: 0; // 👈 ALSO CRITICAL

  height: fit-content;
  border: 1px solid $neutral500;
  background-color: rgb($neutral100, 0.1);
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 10px;

  // max-height: calc(100vh - 103px);
  // overflow-x: auto; // horizontal scroll
  // position: relative;

  // Minimalist scrollbar for WebKit (Chrome, Edge, Safari)
  // &::-webkit-scrollbar {
  //   width: 10px;
  //   height: 8px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: transparent;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: rgba($neutral600, 0.9); // Light minimal color
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar-thumb:hover {
  //   background-color: rgba($neutral600, 0.6);
  // }
}
