.kanbanBoard {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  align-items: flex-start;
}

.kanbanColumn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 400px;
  max-width: 400px;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    min-width: 280px;
    max-width: 280px;
  }

  .kanbanColumnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
  }

  .kanbanColumnBody {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
